@CHARSET "UTF-8";

#container
{
	position: absolute;
    left: 500px;
    top: 100px;
    
}.holder{
	
	width: 390px;
    background: #fff;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 3px 20px 0px rgba(0, 0, 0, 0.1);
    height:470px;
	
}.header{
	
	display: block;
    font-family: SourceSansPro-Bold;
    font-size: 30px;
    color: #4b2354;
    line-height: 1.2;
    text-align: center;
    position: absolute;
    top: 14px;
    left: 142px;
	
}.anotherPage{
	
	position: absolute;
    top: 400px;
    left: 100px;
}#forgotPassword{
	position: absolute;
    top: 351px;
    left: 127px;
    cursor : pointer;
    color: blue;
    font-size:127%;
}.button{
	
	width: 100%;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: absolute;
    top: 230px;
}.commonButtom{
	
	min-width: 192px;
    height: 50px;
    background: #f6f9f9;
    border-radius: 25px;
    font-family: SourceSansPro-SemiBold;
    font-size: 14px;
    color: black;
    text-transform: uppercase;
    box-shadow: 0 1px 4px rgba(0,0,0,.15);
    box-shadow: 0 1px 4px rgba(0,0,0,.15);
    
    
}.password{
	font-family: serif;
    font-size: 16px;
    color: #4b2354;
    line-height: 1.2;
    display: block;
    width: 71%;
    height: 43px;
    background: transparent;
    padding: 0 20px 0 23px;
    position: absolute;
    top: 130px;
    outline: none;
    border: none;
    margin: 23px;
    border-radius: 25px;
    -webkit-box-shadow: 0 5px 30px 0px rgba(0, 0, 0, 0.1);
}.userId{
	font-family: serif;
    font-size: 16px;
    color: #4b2354;
    line-height: 1.2;
    display: block;
    width: 71%;
    height: 43px;
    background: transparent;
    padding: 0 20px 0 23px;
    position: absolute;
    top: 63px;
    outline: none;
    border: none;
    margin: 23px;
    border-radius: 25px;
    -webkit-box-shadow: 0 5px 30px 0px rgba(0, 0, 0, 0.1);
	
}.errorMsg{
	position: absolute;
    top: -57px;
    left: 108px;
    font-size: 150%;
    color: red;
}#forgotPasswordContainer{
	height:328px;
}#forgotPasswordButton{
	
	position:absolute;
	top:215px;
	left:86px;
}#forgotPasswordHeader{
	left : 30px;
	color:blue;
}#BacktoLoginPage{
	position: absolute;
    top: 271px;
    left: 87px;
}#loginWithGoogleDiv{
	padding: 1em 2rem;
    line-height: 1.5rem;
    background: #f6f9f9;
    color: #444;
    font-size: .75rem;
    margin-right: 6px;
    margin-top: 2rem;
    transition: all 150ms;
    text-transform: uppercase;
    display: inline-block;
    font-weight: 500;
    box-shadow: 0 1px 4px rgba(0,0,0,.15);
    border-radius: 50px;
    position: absolute;
    top: 56%;
    left: 27%;
    width: 31%;
}#loginwithGoogle{
	color: red;
    display: block;
    text-align: center;
}#contactFormWrapper{
	position: absolute;
    left: 34%;
    top: 12%;
    height: 78%;
 
    width: 45%;
}.contactForm{
	position: relative;
    left: 4%;
    height: 101%;
    width: 102%;
}#saveCustomerButton{
	position: absolute;
    top: 82%;
    left: 7%;
    height: 13%;
    width: 86%;
    background: dodgerblue;
    padding: 5px;
    color: white;
    box-shadow: gray;
    font-size: 100%;
}#customerCompanyDiv{
	position: absolute;
    top: 68%;
    
}#customerAddressDiv{
	position: absolute;
    top: 55%;
}#customerMobileDiv{
	position: absolute;
    top: 35%;
}#EmailContainer{
    position: relative;
    top: 26%;
    width: 81%;
}#customerNameDiv{
	position:absolute;
	top:11%;
}.fieldHolder{
	padding: 4%;
    height: 22%;
    width: 81%;
}.inputfields{
	position: relative;
    left: 30%;
    width: 65%;
    height: 41%;
    font-size: inherit;
}#customerAddress{
	 left: 32%;
	
}#MobileLabel{
	position: absolute;
    top: 62%;
    left: 4%;
}#customerMobile{
	width: 65%;
    height: 40%;
    top: 53%;
    left: 33%;
}#customerEmail{
	position: absolute;
    height: 26%;
/*     top: 45%;
    left: 44%;
 */    width: 60%;
}#EmailLabel{
	position: absolute;
    top: 55%;
    left: 4%;
}#customerName{
	 left: 34%;
}#customerFormHeader{
    padding: 4%;
    top: -4%;
    position: absolute;
}#addCustomer{
	width: 15%;
    position: absolute;
    top: 5%;
    left:4%;
   	background: dodgerblue;
    
}.close{
	position: absolute;
    left: 160%;
    top: 34%;
    height: 41%;
    width: 18%;
    color: black;
    font-size: 40px;
    border-radius: 29%;
    background: lightgray;

}.plus{
	
   block-size: initial;
    padding-left: 1%;
    padding-right: 1%;
    padding-top: 0%;
    padding-bottom: 0%;
    width: 4%;
    height: 16%;
    text-align: center;
}.minus{
	
    block-size: initial;
    padding-left: 1%;
    padding-right: 1%;
    padding-top: 0%;
    padding-bottom: 0%;
    width: 4%;
    height: 16%;
    text-align: center;
}#emailPlus{
	position: absolute;
    left: 105%;
    top: 43%;
}#emailMinus{
	position:absolute;
	left: 105%;
    top: 59%;
}#MobilePlus{
	position: absolute;
    top: 50%;
    left: 105%;
}#mobileMinus{
	position: absolute;
    top: 66%;
    left: 105%;
}#customerEmailDiv{
	position: absolute;
    top: 48%;
}#primaryEmail{
	position: absolute;
    height: 100%;
    width: 300px;
    left: 185px;
    top: 50%;
}#primaryPlus{
	position: absolute;
    left: 500px;
    width: 20px;
}#primaryMinus{
	width: 48%;
    left: 500px;
    top: 32px;
}
